@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@layer base {

  html {
    height: 100%;
  }
body {
  height: 100%;
}

body {
  @apply antialiased font-primary bg-gray text-white
}

@font-face {
  font-family: "Raleway";
  src: url("/public/fonts/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
}
